body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#colour {
    min-height: 100px;
    border: 2px solid black;
    border-bottom: 1px;
}

#complimentary {
    min-height: 100px;
    border: 2px solid black;
    background-color: #1f3d44;
    border-bottom: 1px;
}

#between {
    min-height: 100px;
    border: 2px solid black;
    background-color: #fff;
}