body {
    text-align: center;
    font-family: "Nunito", "Helvetica Neue", "Helvetica", sans-serif;
}

h3 {
    margin: 0;
    padding-top: 10%;
}

#colour {
    min-height: 22vh;
    border-bottom: 1px;
}

#complimentary {
    min-height: 22vh;
}

#split-complimentary {
    min-height: 22vh;
}

.btn {
    margin-top: 20px;
    min-height: 50px;
    min-width: 90vw;
    background-color: darkslategrey;
    color: antiquewhite;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #555;
}